<!DOCTYPE html>
<html lang="en">

{% from 'macros/book-table.html' import book_table %}
{% from 'macros/month-select.html' import month_select%}
{% from 'macros/genre-select.html' import genre_select%}

<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/filter.css">
</head>
<body>
  <div class="filter">
          {{ month_select(filter["month"], months) }}
          {{ genre_select(filter["genre"], genres) }}
  </div>
  <div class="body">
      {{ book_table(books) }}
  </div>
</body>
</html>