.books-table {

}

table.books-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    max-width: 100%;
    margin: 0 auto 15px;
    background-color: transparent;
    text-align: left;
}

table.books-table th {
    font-weight: bold;
    border: 1px solid #cccccc;
    background: blueviolet;
    color: white;
    padding: 8px;
}

table.books-table td {
    border: 1px solid #cccccc; /* Change the border-color of cells here */
    padding: 8px;
}